In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import pandas as pd

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
import warnings
warnings.filterwarnings("ignore")

In [3]:
import sys
sys.path.append("../../../") 

from utils.paths import make_dir_line

modality = 'c'
project = 'Writing Efficient Python Code'
data = make_dir_line(modality, project)

raw = data('raw')

In [4]:
baseball_stats = pd.read_csv(raw / 'baseball_stats.csv', sep = ',', decimal = '.', header = 0, encoding = 'utf-8')

In [5]:
def calc_run_diff(runs_scored, runs_allowed):

    run_diff = runs_scored - runs_allowed

    return run_diff

# 13.4.0 Basic pandas optimizations

## 13.4.2 Iterating with .iterrows()

In [6]:
pit_df = baseball_stats.copy()
pit_df = pit_df[pit_df['Team'] == 'PIT'].reset_index(drop=True)
pit_df = pit_df.loc[:,['Team', 'League', 'Year', 'RS', 'RA', 'W', 'G', 'Playoffs']]
pit_df.head()

  Team League  Year   RS   RA   W    G  Playoffs
0  PIT     NL  2012  651  674  79  162         0
1  PIT     NL  2011  610  712  72  162         0
2  PIT     NL  2010  587  866  57  162         0
3  PIT     NL  2009  636  768  62  161         0
4  PIT     NL  2008  735  884  67  162         0

In [7]:
# Iterate over pit_df and print each row
for i, row in pit_df.iterrows():
    print(row)

Team         PIT
League        NL
Year        2012
RS           651
RA           674
W             79
G            162
Playoffs       0
Name: 0, dtype: object
Team         PIT
League        NL
Year        2011
RS           610
RA           712
W             72
G            162
Playoffs       0
Name: 1, dtype: object
Team         PIT
League        NL
Year        2010
RS           587
RA           866
W             57
G            162
Playoffs       0
Name: 2, dtype: object
Team         PIT
League        NL
Year        2009
RS           636
RA           768
W             62
G            161
Playoffs       0
Name: 3, dtype: object
Team         PIT
League        NL
Year        2008
RS           735
RA           884
W             67
G            162
Playoffs       0
Name: 4, dtype: object
Team         PIT
League        NL
Year        2007
RS           724
RA           846
W             68
G            162
Playoffs       0
Name: 5, dtype: object
Team         PIT
League        NL
Year        2006
RS           691
RA           797
W             67
G            162
Playoffs       0
Name: 6, dtype: object
Team         PIT
League        NL
Year        2005
RS           680
RA           769
W             67
G            162
Playoffs       0
Name: 7, dtype: object
Team         PIT
League        NL
Year        2004
RS           680
RA           744
W             72
G            161
Playoffs       0
Name: 8, dtype: object
Team         PIT
League        NL
Year        2003
RS           753
RA           801
W             75
G            162
Playoffs       0
Name: 9, dtype: object
Team         PIT
League        NL
Year        2002
RS           641
RA           730
W             72
G            161
Playoffs       0
Name: 10, dtype: object
Team         PIT
League        NL
Year        2001
RS           657
RA           858
W             62
G            162
Playoffs       0
Name: 11, dtype: object
Team         PIT
League        NL
Year        2000
RS           793
RA           888
W             69
G            162
Playoffs       0
Name: 12, dtype: object
Team         PIT
League        NL
Year        1999
RS           775
RA           782
W             78
G            161
Playoffs       0
Name: 13, dtype: object
Team         PIT
League        NL
Year        1998
RS           650
RA           718
W             69
G            163
Playoffs       0
Name: 14, dtype: object
Team         PIT
League        NL
Year        1997
RS           725
RA           760
W             79
G            162
Playoffs       0
Name: 15, dtype: object
Team         PIT
League        NL
Year        1996
RS           776
RA           833
W             73
G            162
Playoffs       0
Name: 16, dtype: object
Team         PIT
League        NL
Year        1993
RS           707
RA           806
W             75
G            162
Playoffs       0
Name: 17, dtype: object
Team         PIT
League        NL
Year        1992
RS           693
RA           595
W             96
G            162
Playoffs       1
Name: 18, dtype: object
Team         PIT
League        NL
Year        1991
RS           768
RA           632
W             98
G            162
Playoffs       1
Name: 19, dtype: object
Team         PIT
League        NL
Year        1990
RS           733
RA           619
W             95
G            162
Playoffs       1
Name: 20, dtype: object
Team         PIT
League        NL
Year        1989
RS           637
RA           680
W             74
G            164
Playoffs       0
Name: 21, dtype: object
Team         PIT
League        NL
Year        1988
RS           651
RA           616
W             85
G            160
Playoffs       0
Name: 22, dtype: object
Team         PIT
League        NL
Year        1987
RS           723
RA           744
W             80
G            162
Playoffs       0
Name: 23, dtype: object
Team         PIT
League        NL
Year        1986
RS           663
RA           700
W             64
G            162
Playoffs       0
Name: 24, dtype: object
Team         PIT
League        NL
Year        1985
RS           568
RA           708
W             57
G            161
Playoffs       0
Name: 25, dtype: object
Team         PIT
League        NL
Year        1984
RS           615
RA           567
W             75
G            162
Playoffs       0
Name: 26, dtype: object
Team         PIT
League        NL
Year        1983
RS           659
RA           648
W             84
G            162
Playoffs       0
Name: 27, dtype: object
Team         PIT
League        NL
Year        1982
RS           724
RA           696
W             84
G            162
Playoffs       0
Name: 28, dtype: object
Team         PIT
League        NL
Year        1980
RS           666
RA           646
W             83
G            162
Playoffs       0
Name: 29, dtype: object
Team         PIT
League        NL
Year        1979
RS           775
RA           643
W             98
G            163
Playoffs       1
Name: 30, dtype: object
Team         PIT
League        NL
Year        1978
RS           684
RA           637
W             88
G            161
Playoffs       0
Name: 31, dtype: object
Team         PIT
League        NL
Year        1977
RS           734
RA           665
W             96
G            162
Playoffs       0
Name: 32, dtype: object
Team         PIT
League        NL
Year        1976
RS           708
RA           630
W             92
G            162
Playoffs       0
Name: 33, dtype: object
Team         PIT
League        NL
Year        1975
RS           712
RA           565
W             92
G            161
Playoffs       1
Name: 34, dtype: object
Team         PIT
League        NL
Year        1974
RS           751
RA           657
W             88
G            162
Playoffs       1
Name: 35, dtype: object
Team         PIT
League        NL
Year        1973
RS           704
RA           693
W             80
G            162
Playoffs       0
Name: 36, dtype: object
Team         PIT
League        NL
Year        1971
RS           788
RA           599
W             97
G            162
Playoffs       1
Name: 37, dtype: object
Team         PIT
League        NL
Year        1970
RS           729
RA           664
W             89
G            162
Playoffs       1
Name: 38, dtype: object
Team         PIT
League        NL
Year        1969
RS           725
RA           652
W             88
G            162
Playoffs       0
Name: 39, dtype: object
Team         PIT
League        NL
Year        1968
RS           583
RA           532
W             80
G            163
Playoffs       0
Name: 40, dtype: object
Team         PIT
League        NL
Year        1967
RS           679
RA           693
W             81
G            163
Playoffs       0
Name: 41, dtype: object
Team         PIT
League        NL
Year        1966
RS           759
RA           641
W             92
G            162
Playoffs       0
Name: 42, dtype: object
Team         PIT
League        NL
Year        1965
RS           675
RA           580
W             90
G            163
Playoffs       0
Name: 43, dtype: object
Team         PIT
League        NL
Year        1964
RS           663
RA           636
W             80
G            162
Playoffs       0
Name: 44, dtype: object
Team         PIT
League        NL
Year        1963
RS           567
RA           595
W             74
G            162
Playoffs       0
Name: 45, dtype: object
Team         PIT
League        NL
Year        1962
RS           706
RA           626
W             93
G            161
Playoffs       0
Name: 46, dtype: object

In [8]:
# Iterate over pit_df and print each index variable and then each row
for i,row in pit_df.iterrows():
    print(i)
    print(row)
    print(type(row))

0
Team         PIT
League        NL
Year        2012
RS           651
RA           674
W             79
G            162
Playoffs       0
Name: 0, dtype: object
<class 'pandas.core.series.Series'>
1
Team         PIT
League        NL
Year        2011
RS           610
RA           712
W             72
G            162
Playoffs       0
Name: 1, dtype: object
<class 'pandas.core.series.Series'>
2
Team         PIT
League        NL
Year        2010
RS           587
RA           866
W             57
G            162
Playoffs       0
Name: 2, dtype: object
<class 'pandas.core.series.Series'>
3
Team         PIT
League        NL
Year        2009
RS           636
RA           768
W             62
G            161
Playoffs       0
Name: 3, dtype: object
<class 'pandas.core.series.Series'>
4
Team         PIT
League        NL
Year        2008
RS           735
RA           884
W             67
G            162
Playoffs       0
Name: 4, dtype: object
<class 'pandas.core.series.Series'>
5
Team         PIT
League        NL
Year        2007
RS           724
RA           846
W             68
G            162
Playoffs       0
Name: 5, dtype: object
<class 'pandas.core.series.Series'>
6
Team         PIT
League        NL
Year        2006
RS           691
RA           797
W             67
G            162
Playoffs       0
Name: 6, dtype: object
<class 'pandas.core.series.Series'>
7
Team         PIT
League        NL
Year        2005
RS           680
RA           769
W             67
G            162
Playoffs       0
Name: 7, dtype: object
<class 'pandas.core.series.Series'>
8
Team         PIT
League        NL
Year        2004
RS           680
RA           744
W             72
G            161
Playoffs       0
Name: 8, dtype: object
<class 'pandas.core.series.Series'>
9
Team         PIT
League        NL
Year        2003
RS           753
RA           801
W             75
G            162
Playoffs       0
Name: 9, dtype: object
<class 'pandas.core.series.Series'>
10
Team         PIT
League        NL
Year        2002
RS           641
RA           730
W             72
G            161
Playoffs       0
Name: 10, dtype: object
<class 'pandas.core.series.Series'>
11
Team         PIT
League        NL
Year        2001
RS           657
RA           858
W             62
G            162
Playoffs       0
Name: 11, dtype: object
<class 'pandas.core.series.Series'>
12
Team         PIT
League        NL
Year        2000
RS           793
RA           888
W             69
G            162
Playoffs       0
Name: 12, dtype: object
<class 'pandas.core.series.Series'>
13
Team         PIT
League        NL
Year        1999
RS           775
RA           782
W             78
G            161
Playoffs       0
Name: 13, dtype: object
<class 'pandas.core.series.Series'>
14
Team         PIT
League        NL
Year        1998
RS           650
RA           718
W             69
G            163
Playoffs       0
Name: 14, dtype: object
<class 'pandas.core.series.Series'>
15
Team         PIT
League        NL
Year        1997
RS           725
RA           760
W             79
G            162
Playoffs       0
Name: 15, dtype: object
<class 'pandas.core.series.Series'>
16
Team         PIT
League        NL
Year        1996
RS           776
RA           833
W             73
G            162
Playoffs       0
Name: 16, dtype: object
<class 'pandas.core.series.Series'>
17
Team         PIT
League        NL
Year        1993
RS           707
RA           806
W             75
G            162
Playoffs       0
Name: 17, dtype: object
<class 'pandas.core.series.Series'>
18
Team         PIT
League        NL
Year        1992
RS           693
RA           595
W             96
G            162
Playoffs       1
Name: 18, dtype: object
<class 'pandas.core.series.Series'>
19
Team         PIT
League        NL
Year        1991
RS           768
RA           632
W             98
G            162
Playoffs       1
Name: 19, dtype: object
<class 'pandas.core.series.Series'>
20
Team         PIT
League        NL
Year        1990
RS           733
RA           619
W             95
G            162
Playoffs       1
Name: 20, dtype: object
<class 'pandas.core.series.Series'>
21
Team         PIT
League        NL
Year        1989
RS           637
RA           680
W             74
G            164
Playoffs       0
Name: 21, dtype: object
<class 'pandas.core.series.Series'>
22
Team         PIT
League        NL
Year        1988
RS           651
RA           616
W             85
G            160
Playoffs       0
Name: 22, dtype: object
<class 'pandas.core.series.Series'>
23
Team         PIT
League        NL
Year        1987
RS           723
RA           744
W             80
G            162
Playoffs       0
Name: 23, dtype: object
<class 'pandas.core.series.Series'>
24
Team         PIT
League        NL
Year        1986
RS           663
RA           700
W             64
G            162
Playoffs       0
Name: 24, dtype: object
<class 'pandas.core.series.Series'>
25
Team         PIT
League        NL
Year        1985
RS           568
RA           708
W             57
G            161
Playoffs       0
Name: 25, dtype: object
<class 'pandas.core.series.Series'>
26
Team         PIT
League        NL
Year        1984
RS           615
RA           567
W             75
G            162
Playoffs       0
Name: 26, dtype: object
<class 'pandas.core.series.Series'>
27
Team         PIT
League        NL
Year        1983
RS           659
RA           648
W             84
G            162
Playoffs       0
Name: 27, dtype: object
<class 'pandas.core.series.Series'>
28
Team         PIT
League        NL
Year        1982
RS           724
RA           696
W             84
G            162
Playoffs       0
Name: 28, dtype: object
<class 'pandas.core.series.Series'>
29
Team         PIT
League        NL
Year        1980
RS           666
RA           646
W             83
G            162
Playoffs       0
Name: 29, dtype: object
<class 'pandas.core.series.Series'>
30
Team         PIT
League        NL
Year        1979
RS           775
RA           643
W             98
G            163
Playoffs       1
Name: 30, dtype: object
<class 'pandas.core.series.Series'>
31
Team         PIT
League        NL
Year        1978
RS           684
RA           637
W             88
G            161
Playoffs       0
Name: 31, dtype: object
<class 'pandas.core.series.Series'>
32
Team         PIT
League        NL
Year        1977
RS           734
RA           665
W             96
G            162
Playoffs       0
Name: 32, dtype: object
<class 'pandas.core.series.Series'>
33
Team         PIT
League        NL
Year        1976
RS           708
RA           630
W             92
G            162
Playoffs       0
Name: 33, dtype: object
<class 'pandas.core.series.Series'>
34
Team         PIT
League        NL
Year        1975
RS           712
RA           565
W             92
G            161
Playoffs       1
Name: 34, dtype: object
<class 'pandas.core.series.Series'>
35
Team         PIT
League        NL
Year        1974
RS           751
RA           657
W             88
G            162
Playoffs       1
Name: 35, dtype: object
<class 'pandas.core.series.Series'>
36
Team         PIT
League        NL
Year        1973
RS           704
RA           693
W             80
G            162
Playoffs       0
Name: 36, dtype: object
<class 'pandas.core.series.Series'>
37
Team         PIT
League        NL
Year        1971
RS           788
RA           599
W             97
G            162
Playoffs       1
Name: 37, dtype: object
<class 'pandas.core.series.Series'>
38
Team         PIT
League        NL
Year        1970
RS           729
RA           664
W             89
G            162
Playoffs       1
Name: 38, dtype: object
<class 'pandas.core.series.Series'>
39
Team         PIT
League        NL
Year        1969
RS           725
RA           652
W             88
G            162
Playoffs       0
Name: 39, dtype: object
<class 'pandas.core.series.Series'>
40
Team         PIT
League        NL
Year        1968
RS           583
RA           532
W             80
G            163
Playoffs       0
Name: 40, dtype: object
<class 'pandas.core.series.Series'>
41
Team         PIT
League        NL
Year        1967
RS           679
RA           693
W             81
G            163
Playoffs       0
Name: 41, dtype: object
<class 'pandas.core.series.Series'>
42
Team         PIT
League        NL
Year        1966
RS           759
RA           641
W             92
G            162
Playoffs       0
Name: 42, dtype: object
<class 'pandas.core.series.Series'>
43
Team         PIT
League        NL
Year        1965
RS           675
RA           580
W             90
G            163
Playoffs       0
Name: 43, dtype: object
<class 'pandas.core.series.Series'>
44
Team         PIT
League        NL
Year        1964
RS           663
RA           636
W             80
G            162
Playoffs       0
Name: 44, dtype: object
<class 'pandas.core.series.Series'>
45
Team         PIT
League        NL
Year        1963
RS           567
RA           595
W             74
G            162
Playoffs       0
Name: 45, dtype: object
<class 'pandas.core.series.Series'>
46
Team         PIT
League        NL
Year        1962
RS           706
RA           626
W             93
G            161
Playoffs       0
Name: 46, dtype: object
<class 'pandas.core.series.Series'>

In [9]:
# Print the row and type of each row
for row_tuple in pit_df.iterrows():
    print(row_tuple)
    print(type(row_tuple))

(0, Team         PIT
League        NL
Year        2012
RS           651
RA           674
W             79
G            162
Playoffs       0
Name: 0, dtype: object)
<class 'tuple'>
(1, Team         PIT
League        NL
Year        2011
RS           610
RA           712
W             72
G            162
Playoffs       0
Name: 1, dtype: object)
<class 'tuple'>
(2, Team         PIT
League        NL
Year        2010
RS           587
RA           866
W             57
G            162
Playoffs       0
Name: 2, dtype: object)
<class 'tuple'>
(3, Team         PIT
League        NL
Year        2009
RS           636
RA           768
W             62
G            161
Playoffs       0
Name: 3, dtype: object)
<class 'tuple'>
(4, Team         PIT
League        NL
Year        2008
RS           735
RA           884
W             67
G            162
Playoffs       0
Name: 4, dtype: object)
<class 'tuple'>
(5, Team         PIT
League        NL
Year        2007
RS           724
RA           846
W             68
G            162
Playoffs       0
Name: 5, dtype: object)
<class 'tuple'>
(6, Team         PIT
League        NL
Year        2006
RS           691
RA           797
W             67
G            162
Playoffs       0
Name: 6, dtype: object)
<class 'tuple'>
(7, Team         PIT
League        NL
Year        2005
RS           680
RA           769
W             67
G            162
Playoffs       0
Name: 7, dtype: object)
<class 'tuple'>
(8, Team         PIT
League        NL
Year        2004
RS           680
RA           744
W             72
G            161
Playoffs       0
Name: 8, dtype: object)
<class 'tuple'>
(9, Team         PIT
League        NL
Year        2003
RS           753
RA           801
W             75
G            162
Playoffs       0
Name: 9, dtype: object)
<class 'tuple'>
(10, Team         PIT
League        NL
Year        2002
RS           641
RA           730
W             72
G            161
Playoffs       0
Name: 10, dtype: object)
<class 'tuple'>
(11, Team         PIT
League        NL
Year        2001
RS           657
RA           858
W             62
G            162
Playoffs       0
Name: 11, dtype: object)
<class 'tuple'>
(12, Team         PIT
League        NL
Year        2000
RS           793
RA           888
W             69
G            162
Playoffs       0
Name: 12, dtype: object)
<class 'tuple'>
(13, Team         PIT
League        NL
Year        1999
RS           775
RA           782
W             78
G            161
Playoffs       0
Name: 13, dtype: object)
<class 'tuple'>
(14, Team         PIT
League        NL
Year        1998
RS           650
RA           718
W             69
G            163
Playoffs       0
Name: 14, dtype: object)
<class 'tuple'>
(15, Team         PIT
League        NL
Year        1997
RS           725
RA           760
W             79
G            162
Playoffs       0
Name: 15, dtype: object)
<class 'tuple'>
(16, Team         PIT
League        NL
Year        1996
RS           776
RA           833
W             73
G            162
Playoffs       0
Name: 16, dtype: object)
<class 'tuple'>
(17, Team         PIT
League        NL
Year        1993
RS           707
RA           806
W             75
G            162
Playoffs       0
Name: 17, dtype: object)
<class 'tuple'>
(18, Team         PIT
League        NL
Year        1992
RS           693
RA           595
W             96
G            162
Playoffs       1
Name: 18, dtype: object)
<class 'tuple'>
(19, Team         PIT
League        NL
Year        1991
RS           768
RA           632
W             98
G            162
Playoffs       1
Name: 19, dtype: object)
<class 'tuple'>
(20, Team         PIT
League        NL
Year        1990
RS           733
RA           619
W             95
G            162
Playoffs       1
Name: 20, dtype: object)
<class 'tuple'>
(21, Team         PIT
League        NL
Year        1989
RS           637
RA           680
W             74
G            164
Playoffs       0
Name: 21, dtype: object)
<class 'tuple'>
(22, Team         PIT
League        NL
Year        1988
RS           651
RA           616
W             85
G            160
Playoffs       0
Name: 22, dtype: object)
<class 'tuple'>
(23, Team         PIT
League        NL
Year        1987
RS           723
RA           744
W             80
G            162
Playoffs       0
Name: 23, dtype: object)
<class 'tuple'>
(24, Team         PIT
League        NL
Year        1986
RS           663
RA           700
W             64
G            162
Playoffs       0
Name: 24, dtype: object)
<class 'tuple'>
(25, Team         PIT
League        NL
Year        1985
RS           568
RA           708
W             57
G            161
Playoffs       0
Name: 25, dtype: object)
<class 'tuple'>
(26, Team         PIT
League        NL
Year        1984
RS           615
RA           567
W             75
G            162
Playoffs       0
Name: 26, dtype: object)
<class 'tuple'>
(27, Team         PIT
League        NL
Year        1983
RS           659
RA           648
W             84
G            162
Playoffs       0
Name: 27, dtype: object)
<class 'tuple'>
(28, Team         PIT
League        NL
Year        1982
RS           724
RA           696
W             84
G            162
Playoffs       0
Name: 28, dtype: object)
<class 'tuple'>
(29, Team         PIT
League        NL
Year        1980
RS           666
RA           646
W             83
G            162
Playoffs       0
Name: 29, dtype: object)
<class 'tuple'>
(30, Team         PIT
League        NL
Year        1979
RS           775
RA           643
W             98
G            163
Playoffs       1
Name: 30, dtype: object)
<class 'tuple'>
(31, Team         PIT
League        NL
Year        1978
RS           684
RA           637
W             88
G            161
Playoffs       0
Name: 31, dtype: object)
<class 'tuple'>
(32, Team         PIT
League        NL
Year        1977
RS           734
RA           665
W             96
G            162
Playoffs       0
Name: 32, dtype: object)
<class 'tuple'>
(33, Team         PIT
League        NL
Year        1976
RS           708
RA           630
W             92
G            162
Playoffs       0
Name: 33, dtype: object)
<class 'tuple'>
(34, Team         PIT
League        NL
Year        1975
RS           712
RA           565
W             92
G            161
Playoffs       1
Name: 34, dtype: object)
<class 'tuple'>
(35, Team         PIT
League        NL
Year        1974
RS           751
RA           657
W             88
G            162
Playoffs       1
Name: 35, dtype: object)
<class 'tuple'>
(36, Team         PIT
League        NL
Year        1973
RS           704
RA           693
W             80
G            162
Playoffs       0
Name: 36, dtype: object)
<class 'tuple'>
(37, Team         PIT
League        NL
Year        1971
RS           788
RA           599
W             97
G            162
Playoffs       1
Name: 37, dtype: object)
<class 'tuple'>
(38, Team         PIT
League        NL
Year        1970
RS           729
RA           664
W             89
G            162
Playoffs       1
Name: 38, dtype: object)
<class 'tuple'>
(39, Team         PIT
League        NL
Year        1969
RS           725
RA           652
W             88
G            162
Playoffs       0
Name: 39, dtype: object)
<class 'tuple'>
(40, Team         PIT
League        NL
Year        1968
RS           583
RA           532
W             80
G            163
Playoffs       0
Name: 40, dtype: object)
<class 'tuple'>
(41, Team         PIT
League        NL
Year        1967
RS           679
RA           693
W             81
G            163
Playoffs       0
Name: 41, dtype: object)
<class 'tuple'>
(42, Team         PIT
League        NL
Year        1966
RS           759
RA           641
W             92
G            162
Playoffs       0
Name: 42, dtype: object)
<class 'tuple'>
(43, Team         PIT
League        NL
Year        1965
RS           675
RA           580
W             90
G            163
Playoffs       0
Name: 43, dtype: object)
<class 'tuple'>
(44, Team         PIT
League        NL
Year        1964
RS           663
RA           636
W             80
G            162
Playoffs       0
Name: 44, dtype: object)
<class 'tuple'>
(45, Team         PIT
League        NL
Year        1963
RS           567
RA           595
W             74
G            162
Playoffs       0
Name: 45, dtype: object)
<class 'tuple'>
(46, Team         PIT
League        NL
Year        1962
RS           706
RA           626
W             93
G            161
Playoffs       0
Name: 46, dtype: object)
<class 'tuple'>

## 13.4.3 Run differentials with .iterrows()

In [10]:
giants_df = baseball_stats.copy()
giants_df = giants_df[giants_df['Team'] == 'SFG'].reset_index(drop=True)
giants_df = giants_df.loc[:,['Team', 'League', 'Year', 'RS', 'RA', 'W', 'G', 'Playoffs']]
giants_df.head()

  Team League  Year   RS   RA   W    G  Playoffs
0  SFG     NL  2012  718  649  94  162         1
1  SFG     NL  2011  570  578  86  162         0
2  SFG     NL  2010  697  583  92  162         1
3  SFG     NL  2009  657  611  88  162         0
4  SFG     NL  2008  640  759  72  162         0

In [11]:
# Create an empty list to store run differentials
run_diffs = []

# Write a for loop and collect runs allowed and runs scored for each row
for i,row in giants_df.iterrows():
    runs_scored = row['RS']
    runs_allowed = row['RA']
    
    # Use the provided function to calculate run_diff for each row
    run_diff = calc_run_diff(runs_scored, runs_allowed)
    
    # Append each run differential to the output list
    run_diffs.append(run_diff)

giants_df['RD'] = run_diffs
print(giants_df)

   Team League  Year   RS   RA    W    G  Playoffs   RD
0   SFG     NL  2012  718  649   94  162         1   69
1   SFG     NL  2011  570  578   86  162         0   -8
2   SFG     NL  2010  697  583   92  162         1  114
3   SFG     NL  2009  657  611   88  162         0   46
4   SFG     NL  2008  640  759   72  162         0 -119
5   SFG     NL  2007  683  720   71  162         0  -37
6   SFG     NL  2006  746  790   76  161         0  -44
7   SFG     NL  2005  649  745   75  162         0  -96
8   SFG     NL  2004  850  770   91  162         0   80
9   SFG     NL  2003  755  638  100  161         1  117
10  SFG     NL  2002  783  616   95  162         1  167
11  SFG     NL  2001  799  748   90  162         0   51
12  SFG     NL  2000  925  747   97  162         1  178
13  SFG     NL  1999  872  831   86  162         0   41
14  SFG     NL  1998  845  739   89  163         0  106
15  SFG     NL  1997  784  793   90  162         1   -9
16  SFG     NL  1996  752  862   68  162         0 -110
17  SFG     NL  1993  808  636  103  162         0  172
18  SFG     NL  1992  574  647   72  162         0  -73
19  SFG     NL  1991  649  697   75  162         0  -48
20  SFG     NL  1990  719  710   85  162         0    9
21  SFG     NL  1989  699  600   92  162         1   99
22  SFG     NL  1988  670  626   83  162         0   44
23  SFG     NL  1987  783  669   90  162         1  114
24  SFG     NL  1986  698  618   83  162         0   80
25  SFG     NL  1985  556  674   62  162         0 -118
26  SFG     NL  1984  682  807   66  162         0 -125
27  SFG     NL  1983  687  697   79  162         0  -10
28  SFG     NL  1982  673  687   87  162         0  -14
29  SFG     NL  1980  573  634   75  161         0  -61
30  SFG     NL  1979  672  751   71  162         0  -79
31  SFG     NL  1978  613  594   89  162         0   19
32  SFG     NL  1977  673  711   75  162         0  -38
33  SFG     NL  1976  595  686   74  162         0  -91
34  SFG     NL  1975  659  671   80  161         0  -12
35  SFG     NL  1974  634  723   72  162         0  -89
36  SFG     NL  1973  739  702   88  162         0   37
37  SFG     NL  1971  706  644   90  162         1   62
38  SFG     NL  1970  831  826   86  162         0    5
39  SFG     NL  1969  713  636   90  162         0   77
40  SFG     NL  1968  599  529   88  163         0   70
41  SFG     NL  1967  652  551   91  162         0  101
42  SFG     NL  1966  675  626   93  161         0   49
43  SFG     NL  1965  682  593   95  163         0   89
44  SFG     NL  1964  656  587   90  162         0   69
45  SFG     NL  1963  725  641   88  162         0   84
46  SFG     NL  1962  878  690  103  165         1  188

## 13.4.5 Iterating with .itertuples()

In [12]:
rangers_df = baseball_stats.copy()
rangers_df = rangers_df[rangers_df['Team'] == 'TEX'].reset_index(drop=True)
rangers_df = rangers_df.loc[:,['Team', 'League', 'Year', 'RS', 'RA', 'W', 'G', 'Playoffs']]
rangers_df.head()

  Team League  Year   RS   RA   W    G  Playoffs
0  TEX     AL  2012  808  707  93  162         1
1  TEX     AL  2011  855  677  96  162         1
2  TEX     AL  2010  787  687  90  162         1
3  TEX     AL  2009  784  740  87  162         0
4  TEX     AL  2008  901  967  79  162         0

In [13]:
# Loop over the DataFrame and print each row
for row in rangers_df.itertuples():
  print(row)

Pandas(Index=0, Team='TEX', League='AL', Year=2012, RS=808, RA=707, W=93, G=162, Playoffs=1)
Pandas(Index=1, Team='TEX', League='AL', Year=2011, RS=855, RA=677, W=96, G=162, Playoffs=1)
Pandas(Index=2, Team='TEX', League='AL', Year=2010, RS=787, RA=687, W=90, G=162, Playoffs=1)
Pandas(Index=3, Team='TEX', League='AL', Year=2009, RS=784, RA=740, W=87, G=162, Playoffs=0)
Pandas(Index=4, Team='TEX', League='AL', Year=2008, RS=901, RA=967, W=79, G=162, Playoffs=0)
Pandas(Index=5, Team='TEX', League='AL', Year=2007, RS=816, RA=844, W=75, G=162, Playoffs=0)
Pandas(Index=6, Team='TEX', League='AL', Year=2006, RS=835, RA=784, W=80, G=162, Playoffs=0)
Pandas(Index=7, Team='TEX', League='AL', Year=2005, RS=865, RA=858, W=79, G=162, Playoffs=0)
Pandas(Index=8, Team='TEX', League='AL', Year=2004, RS=860, RA=794, W=89, G=162, Playoffs=0)
Pandas(Index=9, Team='TEX', League='AL', Year=2003, RS=826, RA=969, W=71, G=162, Playoffs=0)
Pandas(Index=10, Team='TEX', League='AL', Year=2002, RS=843, RA=882, W=72, G=162, Playoffs=0)
Pandas(Index=11, Team='TEX', League='AL', Year=2001, RS=890, RA=968, W=73, G=162, Playoffs=0)
Pandas(Index=12, Team='TEX', League='AL', Year=2000, RS=848, RA=974, W=71, G=162, Playoffs=0)
Pandas(Index=13, Team='TEX', League='AL', Year=1999, RS=945, RA=859, W=95, G=162, Playoffs=1)
Pandas(Index=14, Team='TEX', League='AL', Year=1998, RS=940, RA=871, W=88, G=162, Playoffs=1)
Pandas(Index=15, Team='TEX', League='AL', Year=1997, RS=807, RA=823, W=77, G=162, Playoffs=0)
Pandas(Index=16, Team='TEX', League='AL', Year=1996, RS=928, RA=799, W=90, G=163, Playoffs=1)
Pandas(Index=17, Team='TEX', League='AL', Year=1993, RS=835, RA=751, W=86, G=162, Playoffs=0)
Pandas(Index=18, Team='TEX', League='AL', Year=1992, RS=682, RA=753, W=77, G=162, Playoffs=0)
Pandas(Index=19, Team='TEX', League='AL', Year=1991, RS=829, RA=814, W=85, G=162, Playoffs=0)
Pandas(Index=20, Team='TEX', League='AL', Year=1990, RS=676, RA=696, W=83, G=162, Playoffs=0)
Pandas(Index=21, Team='TEX', League='AL', Year=1989, RS=695, RA=714, W=83, G=162, Playoffs=0)
Pandas(Index=22, Team='TEX', League='AL', Year=1988, RS=637, RA=735, W=70, G=161, Playoffs=0)
Pandas(Index=23, Team='TEX', League='AL', Year=1987, RS=823, RA=849, W=75, G=162, Playoffs=0)
Pandas(Index=24, Team='TEX', League='AL', Year=1986, RS=771, RA=743, W=87, G=162, Playoffs=0)
Pandas(Index=25, Team='TEX', League='AL', Year=1985, RS=617, RA=785, W=62, G=161, Playoffs=0)
Pandas(Index=26, Team='TEX', League='AL', Year=1984, RS=656, RA=714, W=69, G=161, Playoffs=0)
Pandas(Index=27, Team='TEX', League='AL', Year=1983, RS=639, RA=609, W=77, G=163, Playoffs=0)
Pandas(Index=28, Team='TEX', League='AL', Year=1982, RS=590, RA=749, W=64, G=162, Playoffs=0)
Pandas(Index=29, Team='TEX', League='AL', Year=1980, RS=756, RA=752, W=76, G=163, Playoffs=0)
Pandas(Index=30, Team='TEX', League='AL', Year=1979, RS=750, RA=698, W=83, G=162, Playoffs=0)
Pandas(Index=31, Team='TEX', League='AL', Year=1978, RS=692, RA=632, W=87, G=162, Playoffs=0)
Pandas(Index=32, Team='TEX', League='AL', Year=1977, RS=767, RA=657, W=94, G=162, Playoffs=0)
Pandas(Index=33, Team='TEX', League='AL', Year=1976, RS=616, RA=652, W=76, G=162, Playoffs=0)
Pandas(Index=34, Team='TEX', League='AL', Year=1975, RS=714, RA=733, W=79, G=162, Playoffs=0)
Pandas(Index=35, Team='TEX', League='AL', Year=1974, RS=690, RA=698, W=83, G=161, Playoffs=0)
Pandas(Index=36, Team='TEX', League='AL', Year=1973, RS=619, RA=844, W=57, G=162, Playoffs=0)

In [14]:
# Loop over the DataFrame and print each row's Index, Year and Wins (W)
for row in rangers_df.itertuples():
  i = row.Index
  year = row.Year
  wins = row.W
  print(i, year, wins)

0 2012 93
1 2011 96
2 2010 90
3 2009 87
4 2008 79
5 2007 75
6 2006 80
7 2005 79
8 2004 89
9 2003 71
10 2002 72
11 2001 73
12 2000 71
13 1999 95
14 1998 88
15 1997 77
16 1996 90
17 1993 86
18 1992 77
19 1991 85
20 1990 83
21 1989 83
22 1988 70
23 1987 75
24 1986 87
25 1985 62
26 1984 69
27 1983 77
28 1982 64
29 1980 76
30 1979 83
31 1978 87
32 1977 94
33 1976 76
34 1975 79
35 1974 83
36 1973 57

In [15]:
# Loop over the DataFrame and print each row's Index, Year and Wins (W)
for row in rangers_df.itertuples():
  i = row.Index
  year = row.Year
  wins = row.W
  
  # Check if rangers made Playoffs (1 means yes; 0 means no)
  if row.Playoffs == 1:
    print(i, year, wins)

0 2012 93
1 2011 96
2 2010 90
13 1999 95
14 1998 88
16 1996 90

## 13.4.6 Run differentials with .itertuples()

In [16]:
yankees_df = baseball_stats.copy()
yankees_df = yankees_df[yankees_df['Team'] == 'NYY'].reset_index(drop=True)
yankees_df = yankees_df.loc[:,['Team', 'League', 'Year', 'RS', 'RA', 'W', 'G', 'Playoffs']]
yankees_df.head()

  Team League  Year   RS   RA    W    G  Playoffs
0  NYY     AL  2012  804  668   95  162         1
1  NYY     AL  2011  867  657   97  162         1
2  NYY     AL  2010  859  693   95  162         1
3  NYY     AL  2009  915  753  103  162         1
4  NYY     AL  2008  789  727   89  162         0

In [17]:
run_diffs = []

# Loop over the DataFrame and calculate each row's run differential
for row in yankees_df.itertuples():
    
    runs_scored = row.RS
    runs_allowed = row.RA

    run_diff = calc_run_diff(runs_scored, runs_allowed)
    
    run_diffs.append(run_diff)

# Append new column
yankees_df['RD'] = run_diffs
print(yankees_df)

   Team League  Year   RS   RA    W    G  Playoffs   RD
0   NYY     AL  2012  804  668   95  162         1  136
1   NYY     AL  2011  867  657   97  162         1  210
2   NYY     AL  2010  859  693   95  162         1  166
3   NYY     AL  2009  915  753  103  162         1  162
4   NYY     AL  2008  789  727   89  162         0   62
5   NYY     AL  2007  968  777   94  162         1  191
6   NYY     AL  2006  930  767   97  162         1  163
7   NYY     AL  2005  886  789   95  162         1   97
8   NYY     AL  2004  897  808  101  162         1   89
9   NYY     AL  2003  877  716  101  163         1  161
10  NYY     AL  2002  897  697  103  161         1  200
11  NYY     AL  2001  804  713   95  161         1   91
12  NYY     AL  2000  871  814   87  161         1   57
13  NYY     AL  1999  900  731   98  162         1  169
14  NYY     AL  1998  965  656  114  162         1  309
15  NYY     AL  1997  891  688   96  162         1  203
16  NYY     AL  1996  871  787   92  162         1   84
17  NYY     AL  1993  821  761   88  162         0   60
18  NYY     AL  1992  733  746   76  162         0  -13
19  NYY     AL  1991  674  777   71  162         0 -103
20  NYY     AL  1990  603  749   67  162         0 -146
21  NYY     AL  1989  698  792   74  161         0  -94
22  NYY     AL  1988  772  748   85  161         0   24
23  NYY     AL  1987  788  758   89  162         0   30
24  NYY     AL  1986  797  738   90  162         0   59
25  NYY     AL  1985  839  660   97  161         0  179
26  NYY     AL  1984  758  679   87  162         0   79
27  NYY     AL  1983  770  703   91  162         0   67
28  NYY     AL  1982  709  716   79  162         0   -7
29  NYY     AL  1980  820  662  103  162         1  158
30  NYY     AL  1979  734  672   89  160         0   62
31  NYY     AL  1978  735  582  100  163         1  153
32  NYY     AL  1977  831  651  100  162         1  180
33  NYY     AL  1976  730  575   97  159         1  155
34  NYY     AL  1975  681  588   83  160         0   93
35  NYY     AL  1974  671  623   89  162         0   48
36  NYY     AL  1973  641  610   80  162         0   31
37  NYY     AL  1971  648  641   81  162         0    7
38  NYY     AL  1970  680  612   93  163         0   68
39  NYY     AL  1969  562  587   80  162         0  -25
40  NYY     AL  1968  536  531   83  164         0    5
41  NYY     AL  1967  522  621   72  163         0  -99
42  NYY     AL  1966  611  612   70  160         0   -1
43  NYY     AL  1965  611  604   77  162         0    7
44  NYY     AL  1964  730  577   99  164         1  153
45  NYY     AL  1963  714  547  104  161         1  167
46  NYY     AL  1962  817  680   96  162         1  137

Question
In what year within your DataFrame did the New York Yankees have the highest run differential?
You'll need to rerun the code that creates the 'RD' column if you'd like to analyze the DataFrame with code rather than looking at the console output.

R:/ In 1998 (with a Run Differential of 309)

## 13.4.8 Analyzing baseball stats with .apply()

In [19]:
def text_playoffs(num_playoffs): 
    if num_playoffs == 1:
        return 'Yes'
    else:
        return 'No'

In [18]:
print('Ok_')

Ok_